In [1]:
from CrySPY.gen_struc.random import rndgen
from xenonpy.datatools import preset

In [21]:
tmp = rndgen.rndgen_spg(10, ['Li', 'Co', 'O'], [2,2,2], mindist=[[2.0, 2.0, 1.2], [2.0, 2.0, 1.2], [1.2, 1.2, 1.5]], fwpath='/Users/liuchang/source/CrySPY/CrySPY/find_wy/find_wy')

Structure ID        0 was generated. Space group:   7 -->   7 Pc
Structure ID        1 was generated. Space group: 140 --> 123 P4/mmm
Structure ID        2 was generated. Space group: 113 --> 129 P4/nmm
Structure ID        3 was generated. Space group: 143 --> 156 P3m1
Structure ID        4 was generated. Space group: 147 --> 164 P-3m1
Structure ID        5 was generated. Space group:  45 -->  35 Cmm2
Structure ID        6 was generated. Space group:  31 -->  31 Pmn2_1
Structure ID        7 was generated. Space group: 175 --> 191 P6/mmm
Structure ID        8 was generated. Space group:  65 -->  69 Fmmm
Structure ID        9 was generated. Space group: 121 --> 139 I4/mmm

In [15]:
from CrySPY.gen_struc.EA import Crossover, Strain, Permutation
from CrySPY.gen_struc import out_cif

In [22]:
cv = Crossover(['Li', 'Co', 'O'], [2,2,2], [[2.0, 2.0, 1.2], [2.0, 2.0, 1.2], [1.2, 1.2, 1.5]])

In [34]:
cv_ = cv.gen_child(tmp[4], tmp[3])
out_cif(cv_, 1, './', './crossover_4_3.cif')

In [10]:
per = Permutation(['Li', 'Co', 'O'], [[2.0, 2.0, 1.2], [2.0, 2.0, 1.2], [1.2, 1.2, 1.5]])

In [36]:
per_ = per.gen_child(tmp[1])
out_cif(per_, 1, './', './permutation_1.cif')

In [12]:
strain = Strain(['Li', 'Co', 'O'], [[2.0, 2.0, 1.2], [2.0, 2.0, 1.2], [1.2, 1.2, 1.5]])

In [39]:
str_ = strain.gen_child(tmp[4])
out_cif(str_, 1, './', './strain_4.cif')

In [28]:
for i, s in enumerate(tmp.values()):
    out_cif(s, i, './', f'{i}.cif')

# some test

In [81]:
from pymatgen import Structure
from pymatgen.symmetry.analyzer import SpacegroupAnalyzer

In [72]:
s = Structure.from_file('Li3P_mp-736_computed.cif')
s

/usr/local/miniconda3/envs/xepy37_osx/lib/python3.7/site-packages/pymatgen/io/cif.py:1107: UserWarning: Issues encountered while parsing CIF:
  warnings.warn("Issues encountered while parsing CIF:")
/usr/local/miniconda3/envs/xepy37_osx/lib/python3.7/site-packages/pymatgen/io/cif.py:1109: UserWarning: Some fractional co-ordinates rounded to ideal values to avoid finite precision errors.
  warnings.warn(error)

Structure Summary
Lattice
    abc : 4.23585864 4.23585864 7.57071772
 angles : 90.0 90.0 119.99999999999999
 volume : 117.63880434780243
      A : 4.23585864 0.0 2.59371536255833e-16
      B : -2.117929319999999 3.668361189079804 2.59371536255833e-16
      C : 0.0 0.0 7.57071772
PeriodicSite: Li (0.0000, 2.4456, 4.4222) [0.3333, 0.6667, 0.5841]
PeriodicSite: Li (2.1179, 1.2228, 3.1485) [0.6667, 0.3333, 0.4159]
PeriodicSite: Li (2.1179, 1.2228, 0.6368) [0.6667, 0.3333, 0.0841]
PeriodicSite: Li (0.0000, 2.4456, 6.9339) [0.3333, 0.6667, 0.9159]
PeriodicSite: Li (0.0000, 0.0000, 1.8927) [0.0000, 0.0000, 0.2500]
PeriodicSite: Li (0.0000, 0.0000, 5.6780) [0.0000, 0.0000, 0.7500]
PeriodicSite: P (0.0000, 2.4456, 1.8927) [0.3333, 0.6667, 0.2500]
PeriodicSite: P (2.1179, 1.2228, 5.6780) [0.6667, 0.3333, 0.7500]

In [83]:
a = SpacegroupAnalyzer(s)
a

In [92]:
a.get_symmetry_dataset()

{'number': 194,
 'hall_number': 488,
 'international': 'P6_3/mmc',
 'hall': '-P 6c 2c',
 'choice': '',
 'transformation_matrix': array([[1.00000000e+00, 1.11022302e-16, 0.00000000e+00],
        [0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 1.23259516e-32, 1.00000000e+00]]),
 'origin_shift': array([1.11022302e-16, 0.00000000e+00, 0.00000000e+00]),
 'rotations': array([[[ 1,  0,  0],
         [ 0,  1,  0],
         [ 0,  0,  1]],

        [[-1,  0,  0],
         [ 0, -1,  0],
         [ 0,  0, -1]],

        [[ 1, -1,  0],
         [ 1,  0,  0],
         [ 0,  0,  1]],

        [[-1,  1,  0],
         [-1,  0,  0],
         [ 0,  0, -1]],

        [[ 0, -1,  0],
         [ 1, -1,  0],
         [ 0,  0,  1]],

        [[ 0,  1,  0],
         [-1,  1,  0],
         [ 0,  0, -1]],

        [[-1,  0,  0],
         [ 0, -1,  0],
         [ 0,  0,  1]],

        [[ 1,  0,  0],
         [ 0,  1,  0],
         [ 0,  0, -1]],

        [[-1,  1,  0],
         [-1,  0,  0],
         [ 0,  0,  1]],

        [[ 1, -1,  0],
         [ 1,  0,  0],
         [ 0,  0, -1]],

        [[ 0,  1,  0],
         [-1,  1,  0],
         [ 0,  0,  1]],

        [[ 0, -1,  0],
         [ 1, -1,  0],
         [ 0,  0, -1]],

        [[ 0, -1,  0],
         [-1,  0,  0],
         [ 0,  0, -1]],

        [[ 0,  1,  0],
         [ 1,  0,  0],
         [ 0,  0,  1]],

        [[-1,  0,  0],
         [-1,  1,  0],
         [ 0,  0, -1]],

        [[ 1,  0,  0],
         [ 1, -1,  0],
         [ 0,  0,  1]],

        [[-1,  1,  0],
         [ 0,  1,  0],
         [ 0,  0, -1]],

        [[ 1, -1,  0],
         [ 0, -1,  0],
         [ 0,  0,  1]],

        [[ 0,  1,  0],
         [ 1,  0,  0],
         [ 0,  0, -1]],

        [[ 0, -1,  0],
         [-1,  0,  0],
         [ 0,  0,  1]],

        [[ 1,  0,  0],
         [ 1, -1,  0],
         [ 0,  0, -1]],

        [[-1,  0,  0],
         [-1,  1,  0],
         [ 0,  0,  1]],

        [[ 1, -1,  0],
         [ 0, -1,  0],
         [ 0,  0, -1]],

        [[-1,  1,  0],
         [ 0,  1,  0],
         [ 0,  0,  1]]], dtype=int32),
 'translations': array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-2.22044605e-16,  0.00000000e+00,  0.00000000e+00],
        [ 1.23259516e-32,  1.11022302e-16,  5.00000000e-01],
        [-2.22044605e-16, -1.11022302e-16,  5.00000000e-01],
        [-1.11022302e-16,  1.11022302e-16,  1.36845553e-48],
        [-1.11022302e-16, -1.11022302e-16, -1.36845553e-48],
        [-2.22044605e-16,  0.00000000e+00,  5.00000000e-01],
        [ 0.00000000e+00,  0.00000000e+00,  5.00000000e-01],
        [-2.22044605e-16, -1.11022302e-16, -1.36845553e-48],
        [ 1.23259516e-32,  1.11022302e-16,  1.36845553e-48],
        [-1.11022302e-16, -1.11022302e-16,  5.00000000e-01],
        [-1.11022302e-16,  1.11022302e-16,  5.00000000e-01],
        [-1.11022302e-16, -1.11022302e-16,  5.00000000e-01],
        [-1.11022302e-16,  1.11022302e-16,  5.00000000e-01],
        [-2.22044605e-16, -1.11022302e-16, -1.36845553e-48],
        [ 1.23259516e-32,  1.11022302e-16,  1.36845553e-48],
        [-2.22044605e-16,  0.00000000e+00,  5.00000000e-01],
        [ 0.00000000e+00,  0.00000000e+00,  5.00000000e-01],
        [-1.11022302e-16,  1.11022302e-16,  1.36845553e-48],
        [-1.11022302e-16, -1.11022302e-16, -1.36845553e-48],
        [ 1.23259516e-32,  1.11022302e-16,  5.00000000e-01],
        [-2.22044605e-16, -1.11022302e-16,  5.00000000e-01],
        [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
        [-2.22044605e-16,  0.00000000e+00,  0.00000000e+00]]),
 'wyckoffs': ['f', 'f', 'f', 'f', 'b', 'b', 'c', 'c'],
 'site_symmetry_symbols': ['3m.',
  '3m.',
  '3m.',
  '3m.',
  '-6m2',
  '-6m2',
  '-6m2',
  '-6m2'],
 'equivalent_atoms': array([0, 0, 0, 0, 4, 4, 6, 6], dtype=int32),
 'mapping_to_primitive': array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int32),
 'std_lattice': array([[ 4.23585864,  0.        ,  0.        ],
        [-2.11792932,  3.66836119,  0.        ],
        [ 0.        ,  0.        ,  7.57071772]]),
 'std_types': array([1, 1, 1, 1, 1, 1, 2, 2], dtype=int32),
 'std_positions': array([[0.33333333, 0.66666667, 0.584119  ],
        [0.66666667, 0.33333333, 0.415881  ],
        [0.66666667, 0.33333333, 0.084119  ],
        [0.33333333, 0.66666667, 0.915881  ],
        [0.        , 0.        , 0.25      ],
        [0.        , 0.        , 0.75      ],
        [0.33333333, 0.66666667, 0.25      ],
        [0.66666667, 0.33333333, 0.75      ]]),
 'std_rotation_matrix': array([[ 1.00000000e+00, -1.36845553e-48,  6.12323400e-17],
        [-6.49415036e-33,  1.00000000e+00,  1.06057524e-16],
        [-6.12323400e-17, -1.06057524e-16,  1.00000000e+00]]),
 'std_mapping_to_primitive': array([0, 1, 2, 3, 4, 5, 6, 7], dtype=int32),
 'pointgroup': '6/mmm'}

In [98]:
s_ = s.sites[0]

In [100]:
s_.to_unit_cell()

PeriodicSite: Li (0.0000, 2.4456, 4.4222) [0.3333, 0.6667, 0.5841]

In [116]:
d = pd.DataFrame(dict(a=[1,np.nan,3,4,5], b=[6,np.nan,8,9,0]))
d

     a    b
0  1.0  6.0
1  NaN  NaN
2  3.0  8.0
3  4.0  9.0
4  5.0  0.0

In [133]:
d_ = d.dropna()
d_

     a    b
0  1.0  6.0
2  3.0  8.0
3  4.0  9.0
4  5.0  0.0

In [134]:
a = d_['a']
b = d_['b']

In [135]:
a

0    1.0
2    3.0
3    4.0
4    5.0
Name: a, dtype: float64

In [136]:
b

0    6.0
2    8.0
3    9.0
4    0.0
Name: b, dtype: float64

In [137]:
c = pd.concat([a, b], ignore_index=True, sort=False, axis=1)
c

     0    1
0  1.0  6.0
2  3.0  8.0
3  4.0  9.0
4  5.0  0.0

In [131]:
pd.DataFrame(c, index=d.index)

     0    1
0  1.0  6.0
1  NaN  NaN
2  3.0  8.0
3  4.0  9.0
4  5.0  0.0